<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню піцерії</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Меню піцерії</h1>
    <table>
        <tr>
            <th>Назва</th>
            <th>Опис</th>
            <th>Ціна (грн)</th>
        </tr>
        {% for item in menu %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.price }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('add_menu') }}">Додати нову страву</a>
    <a href="{{ url_for('index') }}">Повернутись до опитування</a>
</body>
</html>
